<div class="pageLine">
    <div class="createdAtContainer inlineDivs">
        <span>Created at: </span>
        <span dojoAttachPoint="createdAt" class="createdAt"></span>
    </div>
    <div dojoAttachPoint="pageTitle" class="pageTitle inlineDivs"></div>
    <div class="pageActionContainer inlineDivs">
        <span dojoAttachPoint="editPageIcon" class="editPage editIcon" title="Click to edit page"></span>
        <span dojoAttachPoint="removePageIcon" class="removePage removeIcon" title="Click to remove page"></span>
    </div>
    <div class="clear"></div>
</div>